on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
            submodules: recursive
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: 'pip'
      - run: pip install mkdocs>=1.6.1 mkdocs-material>=9.6.19
      - run: mkdocs gh-deploy --force
